<div class="text-center mt-4" *ngIf="isLoading || mostrarMensaje; else loaded">
    <div class="spinner-border" style="width: 5rem; height: 5rem;" *ngIf="isLoading; else loaded" role="status">
    </div>
    <p>Cargando productos...</p>
</div>
<div *ngIf="mostrarMensaje">
    <p class="text-center text-danger">Ha ocurrido un error al obtener los productos.</p>
</div>

<ng-template class="container" #loaded>
    <div class="container">
        <div class="container text-center">
            <p class="fs-3">Catálogo de productos</p>
        </div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr class=text-center>
                    <th scope="col">Imagen</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Nombre Categoria</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad existente</th>
                    <th scope="col">costo</th>
                    <th scope="col">Pais:</th>
                    <th scope="col">Precio:</th>
                    <th scope="col">Prov_id:</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
        <tbody>
            <tr *ngFor="let prod of listaProductos">
                <td><img src={{prod.foto}} class="imagenes-catalogo"></td>
                <td>{{prod.nombre}}</td>
                <td>{{prod.marca.nombremarca}}</td>
                <td>{{prod.marca.modelo}}</td>
                <td>{{prod.categoria.nombreCat}}</td>
                <td>{{prod.categoria.descripcionCat}}</td>
                <td>{{prod.cantidad_existente}}</td>
                <td>{{prod.costo}}</td>
                <td>{{prod.costo}}</td>
                <td>{{prod.origen.pais}}</td>
                <td>{{prod.provId}}</td>                
                <td class="">
                    <button class="btn btn-success m-2" (click)="actualizarProducto(prod._id.$oid)">Actualizar</button>
                    <button class="btn btn-danger m-2" value="{{prod._id}}" (click)="eliminarProducto(prod._id.$oid)">Eliminar</button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</ng-template>
