
@font-face {
    font-family: "FuentePrincipal";
    src: url('../../../assets/fonts/fonnts.com-Suisse_Intl_Regular.ttf');    
}


.contenedor--principal{
    font-family: "FuentePrincipal";
    background: 
    radial-gradient(circle at right center, #d0e0eb 0%, rgba(231, 226, 226, 0) 70%),
    #ffffff;
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 100vh;
}

.button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.button--primary{
    background-color: #49708a;
    color: white;
    font-weight: 500;
}

.button--secondary{
    background-color: #ebf7f8;
    color: black;
    font-weight: 500;
}

.seccion--inicial{
    display: flex;
    gap: 10px;
}

.seccion--parrafos{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}
.seccion--parrafos h5{
    font-weight: bold;
}