<div class="contenedor--principal text-start">
    <h1 class="text-start title">Mueblería, Marcas & Proveedores API</h1>
    <p class="text-start fs-4">MuebleríaAPI está diseñado para permitir a los desarrolladores acceder fácilmente a muebles de todo tipo.</p>
    <section class="seccion--inicial">
        <button class="button button--primary">Token de Acceso ></button>
        <button class="button button--secondary">Leer documentación</button>
    </section>
    <section class="seccion--parrafos">
        <div class="">
            <h5>175+ Muebles</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nobis iure culpa, minima inventore dolorem totam laborum. Fuga, similique sed!</p>
        </div>
        <div>
            <h5>175+ Proveedores</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nobis iure culpa, minima inventore dolorem totam laborum. Fuga, similique sed!</p>
        </div>
        <div>
            <h5>175+ Marcas</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nobis iure culpa, minima inventore dolorem totam laborum. Fuga, similique sed!</p>
        </div>
    </section>
</div>
