.contenedor-principal{
    display: block;
    margin-left: 0;
    
}
 .contenedor-scrolleable{ 
    width: auto;
    height: 100vh;
    overflow: scroll; /* Permite el scroll dentro del contenedor */
    position: sticky;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    top: 80px;
} 
.contenedor-scrolleable::-webkit-scrollbar{
    display: none;
}
.language-shell{
    background-color: rgb(45, 44, 44);
    white-space: pre;
}
.subrayado{
    color: black;
    text-decoration: underline;
    text-decoration-color: orange;
}
.subrayado:hover{
    color: orange;    
    text-decoration: none;
}

.token{
    background-color: #30a254;

}

.property{
    color: #ff44ff;
}