<nav class="navbar navbar-light bg-light navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Muebles DB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="nuevoProducto" href="#">Nuevo</a></li><hr>
              <li><a class="dropdown-item" routerLink="catalogoProductos"  href="#">Catalogo</a></li><hr>
              <li><a class="dropdown-item" routerLink="busquedaProducto" href="#">Búsqueda</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Proveedores</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="nuevoProveedor" href="#">Nuevo</a></li><hr>
              <li><a class="dropdown-item" routerLink="catalogoProveedor" href="#">Catalogo</a></li><hr>
              <li><a class="dropdown-item" routerLink="busquedaProveedor" href="#">Búsqueda</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Marca</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="nuevaMarca">Nueva</a></li><hr>
              <li><a class="dropdown-item" routerLink="catalogoMarca">Catalogo</a></li><hr>
              <li><a class="dropdown-item" routerLink="buscarMarca" >Búsqueda</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>