<div class="container">
    <form (submit)="actualizar()">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombreProveedor" [(ngModel)] = "dato.nombreProveedor">
        <label class="form-label">RFC</label>
        <input type="text" class="form-control" name="rfc" [(ngModel)] = "dato.RFC">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" name="telefono" [(ngModel)] = "dato.telefono">
        <div class="container text-center">
            <button class="btn btn-success mt-3">Actualizar</button>
        </div>
    </form>
</div>
