<div class="container">
    <div class="container text-center">
        <h2>Buscar producto por ID</h2>
        <form (ngSubmit)="buscarProducto()">     
            <label class="form-label" for="id">ID del producto:</label>
            
            <input class="form-control" type="number" id="id" name="id" [(ngModel)] = "idProducto">
            <button class="btn btn-success mt-4" type="submit">Buscar</button>
        </form>
        <ng-container *ngIf="error" class="text-center">
            <br>
            <p class="fw-bold text-danger">No se ha encontrado algún producto con ese ID</p>
        </ng-container>          
        <ng-container *ngIf="sinError" class="mt-4" >
            <div  *ngFor="let p of objeto" class="text-center">
                <table class="table table-responsive table-striped table-hover table-success">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad Existente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{p.nombre}}</td>
                            <td>{{p.cantidad_existente}}</td>
                            <td>{{p.cantidad_existente}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>  
        </ng-container>
    </div>
</div>
