<div class="container">
    <div class="container text-center">
        <p class="fs-3">Catálogo de proveedores</p>
    </div>
    <div class="mt-2 text-center">
        <table class="table table-responsive table-striped table-hover table-success">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">RFC</th>
                <th scope="col">Telefono</th>
                <th scope="col">Direccion</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of listaProveedores">
                <td>{{p.nombreProveedor}}</td>
                <td>{{p.RFC}}</td>
                <td>{{p.telefono}}</td>
                <td>{{p.direccion.calle}}</td>
                <td>
                  <button class="btn btn-success m-2" value="{{p._id}}" (click)="navegarProveedor(p._id)">Actualizar</button>
                  <button class="btn btn-danger m-2" value="{{p._id}}" (click)="eliminarProveedores(p._id)">Eliminar</button>
                </td>


              </tr>
            </tbody>

          </table>
    </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->
