<div class="container text-center mt-5 d-flex flex-column">
    <p class="fs-2">Buscar algún proveedor</p>
    <form (ngSubmit)="buscarProveedor(nombreProveedor)">
        <label>Nombre</label>
        <input type="text" name="nombreProveedor" [(ngModel)] = "nombreProveedor">
        <div class="container mt-4">
            <button type="submit" class="btn btn-success">Buscar</button>
        </div>
    </form>
    <ng-container *ngIf="error" class="text-center">
        <br>
        <p class="fw-bold text-danger">No se ha encontrado algún producto con ese nombre</p>
    </ng-container>  
    <ng-container>
        <table *ngIf="statusConsulta" class="table table-responsive table-success table-hover table-striped">
            <thead>
                <tr>
                    <th>Nombre del proveedor</th>
                    <th>RFC</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of listaProveedor">
                    <td>{{p.nombreProveedor}}</td>
                    <td>{{p.RFC}}</td>
                    <td>
                        <button class="btn btn-success m-2">Actualizar</button>
                        <button class="btn btn-danger m-2">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>