<div class="container text-center">
    <h1>Agregar proveedor</h1>
    <div class="container border p-3">
        <form (submit)="crearProveedor()">
            <div class="mb-3 border rounded p-3">
                <label for="proveedorNombre" class="form-label fw-bold fs-5">Nombre del proveedor</label>
                <input type="text" class="form-control" id="proveedorNombre" name="nombre" [(ngModel)] = "objProveedor.nombreProveedor" placeholder="Ingresa nombre">
            </div>
            <div class="mb-3 border rounded p-3">
                <label for="productName" class="form-label fw-bold text-start fs-5">Datos fiscales</label>
                <div>
                    <label class="text-start fw-bold">RFC</label>
                    <input type="text" class="form-control" id="productName" name="rfc" [(ngModel)] = "objProveedor.RFC" placeholder="RFC">
                </div>
            </div>
            <div class="mb-3 border rounded p-3">
                <label for="productName" class="form-label fw-bold text-start">Datos personales</label>
                <div>
                    <label class="text-start fw-bold">Teléfono</label>
                    <input type="number"  class="form-control" id="productName" name="tel" [(ngModel)]="objProveedor.telefono" placeholder="Número de teléfono">
                </div>
            </div>
            <div class="mb-3 border rounded p-3">
                <label for="productName" class="form-label fw-bold text-start">Dirección</label>
                <div class="row">
                    <div class="col-6">
                        <label class="text-start fw-bold">Calle</label>
                        <input type="text" class="form-control" id="productName" name="calle" [(ngModel)]="objProveedor.direccion.calle" placeholder="Calle">
                    </div>
                    <div class="col-6">
                        <label class="text-start fw-bold">Colonia</label>
                        <input type="text" class="form-control" id="productName" name="colonia" [(ngModel)] ="objProveedor.direccion.colonia" placeholder="Colonia">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="text-start fw-bold">Ciudad</label>
                        <input type="text" class="form-control" id="productName" name="ciudad" [(ngModel)]="objProveedor.direccion.ciudad" placeholder="Ciudad">
                    </div>
                    <div class="col-6">
                        <label class="text-start fw-bold">Estado</label>
                        <input type="text" class="form-control" id="productName" name="estado" [(ngModel)] = "objProveedor.direccion.estado" placeholder="Estado">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="text-start fw-bold">Código postal</label>
                        <input type="text" class="form-control" id="productName" name="codigo" [(ngModel)]="objProveedor.direccion.codigoPostal" placeholder="Código postal">
                    </div>
                    <div class="col-6">
                        <label class="text-start fw-bold">País</label>
                        <input type="text" class="form-control" id="productName" name="pais" [(ngModel)]="objProveedor.direccion.pais" placeholder="País">
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        </form>
    </div>
</div>
