<div class="container mt-4 text-center  p-4">
    <form (submit) = "enviarDatos()">
      <div class="mb-3 border rounded p-3">
        <label for="nombre" class="form-label fw-bold">Nombre del producto</label>
        <input type="text" name="productoInsertar.nombre" class="form-control" id="nombre" [(ngModel)] = "productoInsertar.nombre" placeholder="Ingresa nombre">
      </div>
      <div class="mb-3 border rounded p-3">
        <label for="category" class="form-label fw-bold">Categoría</label>
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" name="nombreCat" id="nameCategory" [(ngModel)] = "productoInsertar.categoria.nombreCat" placeholder="Nombre de categoría">          
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="zone" name="categoria.zona" [(ngModel)] = "productoInsertar.categoria.zona" placeholder="Zona">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" name="categoria.descripcion" id="descriptionCategory" [(ngModel)] = "productoInsertar.categoria.descripcionCat" placeholder="Descripción"> 
          </div>
        </div>
      </div>
      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Marca</label>
        <div class="container text-center">
          <select class="text-center form-select" name="marca.nombreMarca" [(ngModel)]="productoInsertar.marca.nombremarca">
            <option selected>-Selecciona marca-</option>
            <option  *ngFor="let prod of listaMarcas" [value]="">{{ prod.nombreMarca }}</option>
          </select>
        </div>
<br>
        <div class="container text-center">
          <label class="form-label fw-bold">Modelo</label>
          <select class="text-center form-select" name="modelo" [(ngModel)]="productoInsertar.marca.modelo">
            <option selected>Selecciona modelo</option>
            <option *ngFor="let prod of listaProductos" [value]="prod.marca.modelo">{{ prod.marca.modelo }}</option>
          </select>
          
        </div>
      </div>
      <div class="mb-3 border rounded p-3">
        <label for="" class="form-label fw-bold">Costo</label>
        <input class="form-control" id="nameCategory" name="costo" [(ngModel)] = "productoInsertar.costo" placeholder="Costo">          
      </div>

      <div class="mb-3 border rounded p-3">
        <label for="category" class="form-label fw-bold">Dimensiones</label>
        <div class="row">
          <div class="col-4">
            <input type="text" class="form-control" id="nameCategory" name="dimensiones.largo" [(ngModel)] = "productoInsertar.dimensiones.largo" placeholder="Largo">          
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="zone" name="dimensiones.alto" [(ngModel)] = "productoInsertar.dimensiones.alto" placeholder="Alto">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="zone" name="dimensiones.ancho" [(ngModel)] = "productoInsertar.dimensiones.ancho" placeholder="Ancho">
          </div>
        </div>
      </div>

      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Color</label>
        <div class="container text-center">
          <div class="row">
            <div class="col-4 p-3 text-center">
              <label>Verde</label>
              <input type="checkbox" name="verde" (change)="handleCheckChange($event, 'Verde')">
              <br>
              <br>

              <label>Amarillo</label>
              <input type="checkbox" name="amaraillo" (change)="handleCheckChange($event, 'Amarillo')">

            </div>
            <div class="col-4 p-3">
              <label>Rojo</label>
              <input type="checkbox" name="rojo" (change)="handleCheckChange($event, 'Rojo')">
              <br>
              <br>
              <label>Azul</label>
              <input type="checkbox" name="azul" (change)="handleCheckChange($event, 'Azul')">
            </div>
            <div class="col-4 p-3"> 
              <label>Marrón</label>
              <input type="checkbox" name="marron" (change)="handleCheckChange($event, 'Marrón')">
              <br>
              <br>
              <label>Morado</label>
              <input type="checkbox" name="morado" (change)="handleCheckChange($event, 'Morado')">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Foto</label>
        <div class="container text-center">
          <input type="file" class="form-control" id="foto" name="foto"  accept="image/*" (change)="convertir_B64($event)">
        </div>
      </div>
      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Fecha adquisición</label>
        <div class="container text-center">
          <input type="date" class="form-control text-center" name="fecha" [(ngModel)] = "productoInsertar.fechaAdquisicion">
        </div>
      </div>
      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Cantidad</label>
        <div class="container text-center">
          <input type="number" class="form-control" name="cantidad" [(ngModel)] = "productoInsertar.cantidad_existente">
        </div>
      </div>

      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Status</label>
        <div class="container text-center">
          <select class="form-select" name="status" [(ngModel)]="productoInsertar.status">
            <option value="" selected disabled>- Seleccionar Status -</option>
            <option value="Vigente">Vigente</option>
            <option value="Agotado">Agotado</option>
          </select>
          
        </div>
      </div>
      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Material de fabricación</label>
        <div class="container text-center">
          <div class="row">
            <div class="col-4 p-3 text-center">
              <label for="piel">Piel</label>
              <input id="piel" type="checkbox" name="piel" (change)="handleCheckMaterial($event, 'Piel')">
            </div>
            <div class="col-4 p-3 text-center">
              <label for="madera">Madera</label>
              <input id="madera" type="checkbox" name="madera" (change)="handleCheckMaterial($event, 'Madera')">
            </div>
            <div class="col-4 p-3 text-center">
              <label for="tela">Tela</label>
              <input id="tela" type="checkbox" name="tela" (change)="handleCheckMaterial($event, 'Tela')">
            </div>
          </div>
          <div class="row">
            <div class="col-4 p-3 text-center">
              <label for="plastico">Plástico</label>
              <input id="plastico" type="checkbox" name="plastico" (change)="handleCheckMaterial($event, 'Plástico')">
            </div>
            <div class="col-4 p-3 text-center">
              <label for="algodon">Algodón</label>
              <input id="algodon" type="checkbox" name="algodon" (change)="handleCheckMaterial($event, 'Algodón')">
            </div>
            <div class="col-4 p-3 text-center">
              <label for="metal">Metal</label>
              <input id="metal" type="checkbox" name="metal" (change)="handleCheckMaterial($event, 'Metal')">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3 border rounded p-3">
        <div class="row">
          <div class="col-6">
            <label for="" class="form-label fw-bold">País</label>
            <input type="text" class="form-control" name="origen.pais" [(ngModel)] = "productoInsertar.origen.pais" id="nameCategory" placeholder="País">          
          </div>
          <div class="col-6">
            <label for="" class="form-label fw-bold">Idioma</label>
            <input type="text" class="form-control" [(ngModel)] = "productoInsertar.origen.idioma" name="origen.idioma" id="nameCategory" placeholder="Idioma">          
          </div>
        </div>
      </div>
      <div class="mb-3 border rounded p-3 text-center">
        <label for="category" class="form-label fw-bold">Proveedor</label>
        <div class="container text-center">
          <select class="text-center form-select" name="proveedor" [(ngModel)]="productoInsertar.provId">
            <option value="" selected disabled>- Seleccionar proveedor -</option>
            <option *ngFor="let prov of listaProveedores" [ngValue]="prov._id">{{prov.nombreProveedor}}</option>
          </select>
        </div>
        
      </div>
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </div>
