<div class="container text-center mt-4">
    <form (submit)="actualizar()">
        <div class="container border mt-2 p-4">
            <label class="form-label">Nombre:</label>
            <input type="text" class="form-control" name="nombreMarca" pattern="\S+" [(ngModel)] = "dato.nombreMarca">
        </div>
        <div class="container border mt-2 p-4">
            <label class="form-label">RFC:</label>
            <input type="text" class="form-control" name="rfc" [(ngModel)] = "dato.RFC" >
        </div>
        <div class="container border mt-2 p-4">
            <label class="form-label">Página Web:</label>
            <input type="text" class="form-control" name="paginaWeb" [(ngModel)] = "dato.paginaWeb" >
        </div>
        <div class="container text-center">
            <button class="btn btn-success mt-3">Actualizar</button>
        </div>
        
    </form>
</div>
