<div class="container text-center">
    <div class="">
        <p class="fs-3">Buscar marca</p>
        <form (ngSubmit)="obtenerMarca()">
            <label class="form-label"></label>
            <input type="text" class="form-control" name="nombreMarca" [(ngModel)] = "nombreMarca" placeholder="Ingresar nombre">
            <button type="submit" class="btn btn-success">Buscar</button>
        </form>
        <ng-container *ngIf="error">
            <p class="fs-3 text-danger">No existen marcas registradas con ese nombre</p>
        </ng-container>
        <ng-container *ngIf="status">
            <table class="table table-responsive table-success table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Logo</th>
                        <th>RFC</th>
                        <th>Página Web</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <td>{{listaMarca.nombreMarca}}</td>
                        <td><img src={{listaMarca.logo}} class="imagenes-catalogo"></td>
                        <td>{{listaMarca.RFC}}</td>
                        <td>{{listaMarca.paginaWeb}}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
</div>